* {
  box-sizing:border-box;
}

body {
  background-color: black;
  color:white;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

li {
  margin: 1rem;
  list-style: none;
  align-items: center;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  section {
    padding: 2rem 0 2rem 0;
  }
  
}

h1 {
  font-size: 60;
}

h2 {
  font-size: 50;
  text-align: center;
  color: #f7e017;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 30;
  margin-bottom: 0;
}


h4 {
  color: #f7e017;
  margin:0;
}



img {
max-width: 100%;
height: auto;

}

.buttons {
background-color: #f7e017;
color: black;
padding: 1rem;
border: none;
font-weight: 200;
font-size: larger;
opacity: 0.8;
transition: 0.3s;
cursor: pointer;
margin-top: 2rem;
text-decoration:none ;
}

.buttons:hover{
  opacity: 1
}


.header a {
  text-decoration:none ;
  color:black;
  transition: 0.3s;
}

.header a:hover{
  color: rgb(107, 107, 107);  
  }
 

.header {
  background-color:#f7e017;
  position: sticky;
  z-index: 1;
  top:0;
}


.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding:  0.5rem;
  height: 4rem;
  
}

  @media screen and (min-width:768px) {
    .header__container {
      margin: auto;
      padding: 1rem;
      height: 6rem;
      transition: all .4s ease-out;
      
    }
  }


  .header__container-navbar {
    font-size: 20;
  }

  @media screen and (max-width:768px) {
  .header__container-navbar {
    display: none;
  }
}

  

.header__container-logo {
  letter-spacing: 1px;
  color:black;
  font-size: 50;
  font-weight: bolder;
}


.menu {
  display: flex;
  flex-direction: row;
  
}

.header__social {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}







@media screen and (min-width: 768px) {
  
  .header__container-navbar {
    display: flex;
  }
  
  
  .burger {
    display: none;
  }
}

.about__title {
  background-color: black;
  color:#f7e017;
  padding:0.5rem 0 3rem 0;
  border: #f7e017 1px solid;
  
}

.about span {
  font-size: 30;
}

.about__container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: auto;
  
}

@media screen and (max-width: 768px) {
  
  .about__container {
    flex-direction:column-reverse
  } 

}

.about p {
  line-height:1.8 ;
}

.about__left {
  width: 50%;
  margin-right: 6rem;
  margin-left: 6rem;
  align-items: center;
}

  @media screen and (max-width: 768px) { 
    .about__left {
      width: 100%;
      margin: auto;
      padding: 2rem 1rem 0 1rem;
  }
  }

.skills {
  background-color: rgb(19, 19, 19);
  
}

.skills__container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.skills_right {
  width: 80%;
  padding: 4rem;
}

.skills__left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
  
}

.skills__sub-section {
  padding-bottom:1rem ;
}

.skills__logos {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.skills__icon{
  padding: 1rem;
}

.skills svg {
  width: 90px;
  height: 90px;
}

@media screen and (max-width: 768px) {
  .skills__container {
    flex-direction: column;
    justify-content: center; 
  }
  .skills_right {
    width: 100%;
  }
  
  .skills__left {
    width: 100%;
  }

  .skills__logos {
    flex-wrap: wrap;  
  }

}


.skills__subsection {
  flex-direction: column;
  
}

.projects__container {
 display: flex;
 flex-direction: row;   
}

@media screen and (max-width:768px) {
  .projects__container {
    display: flex;
    flex-direction: column;
  }
}

.projects__card {
  padding: 0 0.5rem 0 0.5rem; 
 }
 
 @media screen and (max-width:768px) {
   .projects__card {
    padding: 2rem 0 2rem 0;  
   }
 }


.download {
  background-color: rgb(19, 19, 19); 
}

@media screen and (max-width: 768px) {
  .download {
    padding-bottom: 3rem;
  }
}

.download__container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .download__container {
  flex-direction:column;
  align-items: center;
  }
}

.download__left-section {
  flex-direction: column;
  width:40%;
  text-align: left;
  margin: auto;
  border: #f7e017 1px solid;
  padding: 4rem;
  
}

@media screen and (max-width: 768px) {
  .download__left-section {
    width: 100%;
    padding: 2rem;
  }
}

.download__sub-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.download__sub-section-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .download__sub-section-one{
    flex-direction: column;
    align-items: center;
    
  }
}


.download__right-section {
  flex-direction: column;
  text-align: left;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .download__right-section {
    width: 100%;
    padding: 0 1rem 2rem 1rem;
  }
}


.download a { 
  
  padding: 1rem;
  border: none;
  font-size: 20;;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  text-decoration:none;
  }

  .download a:hover{
    opacity: 1
  }

.download p {
    margin:0;
    line-height: 1.5;
    align-items: center;
}

.contact {
  background-image: url(https://www.socialnetlink.org/wp-content/uploads/2021/11/a0a74adca1_50147933_developpeur-web1.jpeg);
  background-size: cover;
  flex-direction: column;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
}

.contact__container {
  background-color:rgba(0, 0, 0, 0.774);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin: auto;
  width: 100%;
  font-size: 20;
}


.contact__sections {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .contact__sections {
    flex-direction:column;
    justify-content: center;
    margin: auto;
  }
}

.contact_left-section {
  width: 80%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact_left-section {
    margin: auto;
  }
}


.contact_right-section {
  width: 80%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact_right-section {
    margin: auto;
  }
}

.contact p {
  line-height: 1.5;
}

.contact a { 
  
  color: #f7e017;
  border: none;
  font-size: 20;;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  text-decoration:none;
  }

  .contact a:hover{
    opacity: 1
  }

footer {
  margin: 1rem;
  text-align: center;
}


