* {
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color:white;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  
}

li {
  margin: 1rem;
  list-style: none;
  align-items: center;
}

section {
  align-items: center;
  text-align: center;
  margin: 2rem 0 3rem 0;
}

@media screen and (max-width: 768px) {
  section {
    padding: 2rem 0 2rem 0;
    margin:1rem;
  }
  
}

h1 {
  font-size: 60;
  margin: 1.5rem 0 1rem 0;
}

@media screen and (max-width:768px) {
  h1{
    font-size: 40;
  }
}



h2 {
  font-size: 50;
  text-align: center;
  color: #f7e017;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 30;
  margin: 1rem 0 0 0;
}


h4 {
  color: #f7e017;
  margin:0;
}



img {
max-width: 100%;
height: auto;

}

a {
  text-decoration: none;
}

.buttons {
background-color: #f7e017;
color: black;
padding: 1rem;
border: none;
font-weight: 200;
font-size: larger;
opacity: 0.8;
transition: 0.3s;
cursor: pointer;
margin-top: 2rem;
text-decoration:none ;
}

.buttons:hover{
  opacity: 1
}

strong {
  color: #f7e017;
}


.header a {
  color:black;
  transition: 0.3s;
}

.header a:hover{
  color: rgb(107, 107, 107);  
  }
 

.header {
  background-color:#f7e017;
  position: sticky;
  z-index: 1;
  top:0;
}


.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding:  0.5rem;
  height: 3.9rem;
  
}

  @media screen and (max-width:768px) {
    .header__container {
      margin: auto;
      padding: 1rem;
      height: 4rem;
      justify-content: space-between;
      transition: all .4s ease-out;
    }
  }


  .header__container-navbar {
    font-size: 20;
  }

  @media screen and (max-width:768px) {
  .header__container-navbar {
    display: none;
  }
}

  

.header__container-logo {
  letter-spacing: 1px;
  color:black;
  font-size: 50;
  font-weight: bolder;
}





.menu {
  display: flex;
  flex-direction: row;
  
}

.header__social {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width:768px) {

  .header__social {
    padding:0;
    margin-right: 1rem;
  }



.header__social li {
  margin: 0.5rem;
}
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.burger {
  background:none;
  border:none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  margin-left: 0.5rem;
}

.burger .bar {
  display: block;
  width: 22px;
  height: 3px;
  background:  black;
}

.burger .bar::before, .burger .bar::after {
  display: block;
  content:"";
  width: 22px;
  height: 3px;
  background:  black;
  position: absolute;
}

.burger .bar::before {
  transform: translateY(-8px);
}

.burger .bar::after {
  transform: translateY(8px);
}

@media screen and (max-width: 768px) {
  .header__container-navbar {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: fixed;
    top:55px;
    left:110%;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: calc(100vh - 55px);
    background: black;  
    transition: all .4s ease-out;  
  }

  .menu {
    flex-direction: column;
    padding-left: 0;
    margin:0;
  }

  nav .menu li {
    display: flex;
    justify-content: center;
  }
  nav .menu a {
    display: block;
    font-size: 2rem;
    padding:2rem;
    transition: all .4s;
    color:#f7e017;
  }
  .header.show-nav nav {
    opacity: 1;
    width: 100%;
    left:0;
    z-index: 3;
  }
  .header.show-nav nav li a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
  .header.show-nav .burger .bar {
    width:0;
  }
  .burger .bar::before,
  .burger .bar::after  {
    transition: all .2s ease-out;
  }
  .show-nav .burger .bar::before {
    transform:rotate(-45deg);
  }
  .show-nav .burger .bar::after {
    transform:rotate(45deg);
  }


}






@media screen and (min-width: 768px) {
  
  .header__container-navbar {
    display: flex;
  }
  
  .burger {
    display: none;
  } 


}



.about {
  background-color: black;
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;

    @media screen and (max-width: 768px) {
      padding-top: 4rem;
    }
}



.about__title {
  background-color: black;
  color:#f7e017;
  padding:0 0 2rem 0;
  border: #f7e017 1px solid;
    
}

.about span {
  font-size: 30;
}

@media screen and (max-width: 768px) {
  .about span {
    font-size: 20;
  }
}

.about__container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  
}

@media screen and (max-width: 768px) {
  
  .about__container {
    flex-direction:column-reverse
  } 

}

.about p {
  line-height:1.8 ;
  margin-top: 3rem;
  font-size: 20;
}

@media screen and (max-width: 768px) {
  .about p {
    margin-top: 2rem;
    font-size: 16;
  }
}

.about__left {
  width: 40%;
  margin: 0 5rem 0 7rem;
  align-items: flex-start;
}


  @media screen and (max-width: 768px) { 
    .about__left {
      width: 100%;
      margin: auto;
      padding: 2rem 1rem 0 1rem;
  }
  }

.about__right {
  margin: 0 5rem 0 7rem;
}

@media screen and (max-width: 768px) {
  .about__right {
    margin: 0;
  }
}



.about__right-profil {
  padding:2rem 0 7rem 0;
}

@media screen and (max-width: 768px) {
  .about__right-profil {
    padding: 0.5rem 0 1rem 0;
  }
}


.skills {
  padding: 4rem 0 4rem 0 ;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
  border-bottom: #f7e017 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
    
}

.skills__title{
  margin-top: 2rem;
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  animation-duration: 2.5s;
  animation-name: slideInleft;
}

.skills__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
}

.skills__section-two {
  display: flex;
  justify-content: center;
}

.skills__right {
  width: 100%;
  padding: 0 0 4rem 0;
  margin: 0 3rem 0 3rem;
}

.skills__right-2 {
  width: 100%;
  padding: 0 0 4rem 0;
  margin: 0 3rem 0 3rem;
}

.skills__center {
  width: 100%;
  padding: 0 0 4rem 0;
  margin: 0 3rem 0 3rem;
}

.skills__sub-section {
  padding-bottom:1rem ;
}

.skills__logos {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.skills__icon{
  padding: 1rem;
}

.skills svg {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .skills__container {
    flex-direction: column;
    justify-content: center;
    width: 100%; 
  }
  .skills__right {
    width: 100%;
    margin:0;
    padding: 0 0 1rem 0;
  }

  .skills__right-2 {
    width: 100%;
    margin:0;
    padding: 0 0 1rem 0;
  }
  
  .skills__left {
    width: 100%;
    
  }

  .skills__center {
    width: 100%;
    margin:0;
    padding: 0 0 1rem 0;
  }

  .skills__logos {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;  
  }

  .skills__section-two {
    flex-direction: column;
  }


  .skills__icon{
  padding:1rem;
  }

  .skills svg {
    width: 70px;
    height: 70px;
  }
}


.skills__subsection {
  flex-direction: column;
  
}

.projects {
  padding-top: 6rem ;
  padding-bottom: 5rem;
}

@media screen and (max-width:768px) {
  .projects {
    padding-bottom: 2rem;
  }}

.projects a {
  color:white;
}

.projects a:hover{
    color: #f7e017;
    transition: 0.5s ease-in-out;
  }


.projects__container {
 display: flex;
 flex-direction: row;
 animation-duration: 2s;
  animation-name: slideInright;
 
}

@media screen and (max-width:768px) {
  .projects__container {
    display: flex;
    flex-direction: column;
  }
}

.projects__card {
  
  margin: 1.5rem;
  background-color: #000000;
  border-bottom: #f7e017 2px solid;
  overflow: hidden;
  opacity: 0.8;
  
 }

 .projects__card:hover{
  background: rgba(0,0,0,0.8);
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.projects__card img {
  width:100%
}
 
 @media screen and (max-width:768px) {
   .projects__card {
    padding: 2rem 0 2rem 0;  
   }
 }


 .modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 3;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  
}

.modal.show {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 1;
  visibility:visible;
  transition: 2s ease-in-out;
  
}

.modal__content {
  height: 140vh;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
  border-bottom: #f7e017 2px solid;
}

.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  font-size: 3.1rem;
  color: #f7e017;
  cursor: pointer;
}

.project__details {
  padding: 5rem 9rem 5rem 9rem ;
  margin: 1rem 1rem 1rem 1rem;  
}

.project__details img{
  width: 40%;
}

.project__details-subtitle {
  line-height: 160%;
}



@media screen and (max-width: 768px) {
  .project__details {
    padding: 5rem 1rem 5rem 1rem ;
  }

  .project__details img{
    width: 90%;
  }

  .project__details iframe {
    width: 90%;
  }

  .modal__content {
    height: 150vh;
  }
}


.download {
  padding-top: 6rem ;
  padding-bottom: 5rem;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
  border-bottom: #f7e017 2px solid;
  }


@media screen and (max-width: 768px) {
  .download {
    padding-top:1rem;
    padding-bottom: 3rem;
  }
}

.download__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-evenly;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .download__container {
  flex-direction:column;
  align-items: center;
  }
}

.download__left-section {
  flex-direction: column;
  width:40%;
  text-align: left;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: #f7e017 1px solid;
  padding: 4rem;
  
}

@media screen and (max-width: 768px) {
  .download__left-section {
    width: 100%;
    padding: 2rem;
  }
}

.download__sub-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .download__sub-section {
    flex-direction: column;
    
  }
}

.download__sub-section-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .download__sub-section-one{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.download__right-section {
  flex-direction: column;
  text-align: left;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .download__right-section {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
  }
}


.download a { 
  
  padding: 1.5rem;
  border: none;
  font-size: 20;;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  }

  .download a:hover{
    opacity: 1
  }

.download p {
    margin:0;
    line-height: 1.8;
    align-items: center;
}

.contact {
  background-image: url(https://www.socialnetlink.org/wp-content/uploads/2021/11/a0a74adca1_50147933_developpeur-web1.jpeg);
  background-size: cover;
  flex-direction: column;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
}

.contact__container {
  background-color:rgba(0, 0, 0, 0.774);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin: auto;
  width: 100%;
  font-size: 20;
}


.contact__sections {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .contact__sections {
    flex-direction:column;
    justify-content: center;
    margin: auto;
  }
}

.contact_left-section {
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact_left-section {
    margin: auto;
  }
}


.contact_right-section {
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact_right-section {
    margin: auto;
  }
}

.contact p {
  line-height: 1.5;
}

.contact a { 
  
  color: #f7e017;
  border: none;
  font-size: 20;;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  }

  .contact a:hover{
    opacity: 1
  }

footer {
  margin: 1rem;
  text-align: center;
}

.modal{
  display: none;
}

.show.modal {
  display:block;
}

@keyframes slideInleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInright {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}